$dark-gray-blue: hsl(210, 10%, 33%);
$gray-blue: hsl(201, 11%, 66%);
$gray: hsl(0, 0%, 95%);
$cyan: hsl(171, 66%, 44%);
$cyan-shadow: hsl(171, 63%, 41%);
$light-blue: hsl(233, 100%, 69%);
$light-blue-shadow: hsl(233, 65%, 60%);
$bg-large: url(https://res.cloudinary.com/dpkreativ/image/upload/v1575491163/Clipboard%20Landing%20Page/bg-header-desktop_x7xzfn.png);
$bg-small: url(https://res.cloudinary.com/dpkreativ/image/upload/v1575491162/Clipboard%20Landing%20Page/bg-header-mobile_zynglc.png);
