// Header styles
header {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%)),
    $bg-large;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5rem;

  img {
    margin-bottom: 1rem;
  }

  .banner {
    // margin: auto;
    .banner-paragraph {
      max-width: 500px;
      margin: auto;
    }
  }
}

// General section styles
section.feature {
  text-align: center;
  justify-content: space-evenly;
  margin: 0 6rem;
  padding: 40px 0;
  img {
    max-width: 600px;
  }

  .intro-text {
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: 3rem;
  }

  // Keep track of your snippets section
  .track-snippets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;

    .snippet-right {
      margin: 0 4rem;

      div {
        margin-top: 3.5rem;
      }
    }
  }

  // Supercharge your workflow section
  &.supercharge-workflow {
    .columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .col {
        padding: 1rem;
        img {
          height: 30px;
        }
      }
    }
  }

  // Partners section
  &.partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

// Footer section
.footer {
  background-color: $gray;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  div {
    margin: auto;
  }

  .logo {
    img {
      width: 50px;
      height: auto;
    }
  }
  .short-links {
    a {
      text-decoration: none;
      color: $dark-gray-blue;
    }
  }

  .media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .social-media {
      margin: 0 10px;
      img {
        width: auto;
        height: 20px;
      }
    }
  }
}
