// Header styles
header {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsl(0, 0%, 100%)),
    $bg-small;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;

  img {
    padding: 80px 0;
  }
}

section {
  text-align: center;
  padding: 40px;

  &.feature {
    .track-snippets,
    &.access-clipboard {
      img {
        width: 16rem;
      }
    }

    &.supercharge-workflow {
      img {
        width: 2rem;
        margin: 20px;
      }
    }

    &.partners {
      img {
        margin: 20px;
        width: 8rem;
      }
    }
  }

  &.footer {
    background-color: $gray;
    .logo {
      img {
        width: 50px;
      }
    }

    .media {
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        height: 25px;
        color: $gray;
      }
    }
  }
}
