@import "config";

// Global Styles
* {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

// Body Styling
body {
  margin: 0;
  padding: 0;
  h1,
  h3,
  h4 {
    color: $dark-gray-blue;
    margin: 0;
  }

  h1 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p,
  a {
    color: $gray-blue;
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
  }

  // Button Styles
  .button-box {
    text-align: center;
    padding: 1.8rem 0;
    button {
      border: none;
      color: #fff;
      height: 50px;
      width: 300px;
      border-radius: 40px;
      font-size: 0.8rem;
      font-weight: 600;
      margin: 0.4rem 0.3rem;
      &.ios-button {
        background-color: $cyan;
        border-bottom: 2.5px solid rgba($cyan-shadow, 1.5);
        box-shadow: 0px 2px 20px rgba($cyan-shadow, 0.5);
      }
      &.mac-button {
        background-color: $light-blue;
        border-bottom: 2.5px solid rgba($light-blue-shadow, 1.5);
        box-shadow: 0px 2px 20px rgba($light-blue-shadow, 0.5);
      }
    }
  }
}

// Attribution
footer {
  display: none;
}

@media screen and (min-width: 1000px) {
  @import "desktop";
}

@media screen and (max-width: 999px) {
  @import "mobile";
}
